body {
  background: linear-gradient(to right, #1e5799 0%, #2ce0bf 19%, #76dd2c 40%, #dba62b 60%, #e02cbf 83%, #1e5799 100%);
  background-size: 10000px 100%;
  animation: multicolor 30s linear infinite;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

@keyframes multicolor {
0% {
  background-position-x: 0;
}
100% {
  background-position-x: 10000px;
}
}